SKDSeparatedWithOSX/SKDSeparatedWithOSX.xcodeproj/xcuserdata
SKDSeparatedWithOSX/SKDSeparatedWithOSX.xcodeproj/project.xcworkspace
SKDUniversal/SKDUniversal.xcodeproj/project.xcworkspace
SKDUniversal/SKDUniversal.xcodeproj/xcuserdata
SKDUniversalWithOSX/SKDUniversalWithOSX.xcodeproj/xcuserdata
SKDUniversalWithOSX/SKDUniversalWithOSX.xcodeproj/project.xcworkspace
